@charset "utf-8";
/**
* @description	Standard Layout
* @author		Nombre_programador
* @version		1.0
*/

body{
	
}

body,html{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

*{
	box-sizing:border-box;
}
img{
	vertical-align: middle;
}
.clear_block:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}



/*-------------------*/

#status{
	position: absolute;
	background-color: #30ff00;
	top: 40px;
	right: 0;
	width: 100px;
	height: 25px;
	z-index: 12;
	font-weight: bold;
	/*display: none;*/


}

.page{
	width: 100%;
	height: 100%;
	background-color: orange;
	position: relative;
	display: block;
}
.page.home{
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.btn_ingresar{
	background-color: #fff;
	color: #000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	text-align: center;
	width: 100px;
	display: block;
	margin: auto;
	position: absolute;
	bottom: 200px;
	left: 50%;
	margin-left: -50px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 8px;
	padding: 10px 10px;
}
.controls{
	position: absolute;
	bottom: 20px;
	right: 10px;
	width: 70px;
	height: 70px;
	z-index: 10;

}
.button_open_incidentes{
	width: 80px;
	height: 80px;
	background-image: url(../images/icons/claim.png);
	background-repeat: no-repeat;

}
.button_open_incidentes.active{
	background-position: -88px 0;
}

.wrap_incidents{
	position: absolute;
	left: -135px;
	bottom: 56px;
	height: 0;
	width: 200px;
	background-image: url(../images/icons/buble.png);
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;

}

.incidents_items{
	padding: 7px;
}
.incidents_items li{
	margin-bottom: 5px;
}
.incidents_items li a{
	display: block;
	width: 100%;
	height: 45px;
	text-decoration: none;
	color: #ffffff;
}
.incidents_items li a .icon,
.incidents_items li a .text{
	display: block;
	float: left;
}

.incidents_items li a .icon{
	height: 35px;
	width: 35px;
	margin-right: 22px;
}
.incidents_items li a .text{
	font-size: 15px;
	text-align: left;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #000000;
	padding: 20px 0 0 0;
}








.wrap_map{
	width: 100%;
	height: 100%;
}
#map_canvas{
	width: 100%;
	height: 100%;
}


