/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/09/2014, 07:21:47 PM
    Author     : Manuel Temple Aguilar
*/
html { 
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map_canvas {
    width: 100%;
    height: 100%;
}

.box{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -5px;
    height: 90%;
    width: 370px;
    /* SHADOW */
    -webkit-box-shadow: 7px 7px 20px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 20px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 20px 0px rgba(50, 50, 50, 0.75);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=85);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85);
    filter:alpha(opacity=85);
    /* SHADOW */
}
.box.close {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    margin-left: -340px !important;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

.filter-label-name {
    position:absolute;
    top:40%;
    left:-25%;
    -moz-transform: rotate(90deg) translateX(50%) translateY(50%);
    -webkit-transform: rotate(90deg) translateX(50%) translateY(50%);
    -o-transform: rotate(90deg) translateX(50%) translateY(50%);
    -ms-transform: rotate(90deg) translateX(50%) translateY(50%);
    transform: rotate(90deg) translateX(50%) translateY(50%);
}
.close div.filter-label-name{
    left: -65% !important;
}

.filter-label{
    border-left: 1px solid #eee;
    height: 100%;
    width: 8%;
    position: relative;
    margin: 0;
    padding: 0;
}

.filter-panel{
    padding: 20px;

}